<!DOCTYPE html>
<html data-ng-app="FlickrSearch">
<head>
  <title>Flickr Search</title>
  <style>
    ul {
      list-style: none;
    }
    li {
      float: left;
    }
  </style>
</head>
<body data-ng-controller="Main">

<div>
  <label>
    Enter Tags
    <input type="text" data-ng-model="tags">
  </label>
  <button data-ng-click="search(tags)">Search</button>
</div>

<ul>
  <li data-ng-repeat="photo in photos">
    <img src="gfx/spinner.gif"
         data-spinner="photo.thumbnail.source"
         width="100"
         title="{{photo.title}}"
         alt="{{photo.title}}"/>
  </li>
</ul>

<script type="text/javascript" src="webjars/jquery/1.11.1/jquery.js"></script>
<script type="text/javascript" src="webjars/angularjs/1.2.26/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/factory/flickr.js"></script>
<script type="text/javascript" src="js/directive/spinner.js"></script>
<script type="text/javascript" src="js/controller/main.js"></script>
</body>
</html>
